<mat-toolbar color="primary">
    <button mat-button>
    <mat-icon [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>New</button>
        <button mat-menu-item>Past</button>
    </mat-menu>
    Hacker News
</mat-toolbar>
<div *ngIf="news" class="container">
    <div class="row">
        <div class="col-sm">
            <app-news-item *ngFor="let storyID of newsRow1" [storyID]="storyID"></app-news-item>
        </div>
        <div class="col-sm">
            <app-news-item *ngFor="let storyID of newsRow2" [storyID]="storyID"></app-news-item>
        </div>
        <div class="col-sm">
            <app-news-item *ngFor="let storyID of newsRow3" [storyID]="storyID"></app-news-item>
        </div>
    </div>
</div>
<!-- <mat-paginator [length]="numberOfItems" [pageSize]="12" (click)="paginate()" (page)="pageEvent = $event">
</mat-paginator> -->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <button [disabled]="range===0" (click)="previousPage()" mat-raised-button color="accent"><mat-icon>navigate_before</mat-icon></button>
        </div>
        <div class="col-sm">
            <span><button mat-button disabled>Page {{1 + (range/12)}} of {{(numberOfItems/12) | number:'1.0-0'}}</button></span>
        </div>
        <div class="col-sm">
            <button (click)="nextPage()" mat-raised-button color="accent"><mat-icon>navigate_next</mat-icon></button>
        </div>
    </div>
</div>